<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} icon {% endcomment %}
    <link rel="icon" href="https://i.pinimg.com/originals/95/5c/0b/955c0b7dc913cd6c13be7d1e0edb987c.png">
    {% comment %} title {% endcomment %}
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    {% comment %} styles {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% block css %}{% endblock css %}">
</head>
<body>
    {% block content %}{% endblock content %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>