{% extends 'base.html' %}
{% load static %}

{% block title %}image{% endblock title %}
{% block css %}{% static 'app/detail.css' %}{% endblock css %}{% static 'app/detail.css' %}

{% block content %}

    <section>
    
        <div class="responsive container">
            <div class="gallery">
                <img src="{{detailPage.image.url}}" width="600" height="400">
                </a>
                <div class="desc">{{detailPage.description}}</div>
            </div>
        </div>

        <form action="{% url 'favorite-page' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="favorite_id" value={{detailPage.id}}> 

        {% if detailPage.id in request.session.favorite_images %}
            <button type="submit" name='remove'> Remove from Favorite</button>
        {% else %}
            <button type="submit" name='add'> Add to Favorite</button>
        {% endif %}

        <a href="{{ detailPage.image.url }}" download="{{ detailPage.image.url }}"> <i class="fa fa-download fa-2x fontawesome-icon"></i></a>
        </form>

    </section>



 

{% endblock content %}