{% extends 'base.html' %}

{% block title %}image{% endblock title %}

{% block content %}
    <div>
        {{detailPage.description}} <br>
        {{detailPage.tag}}
        <img src="{{detailPage.image.url}}" alt="image not unavailable" class="img-fluid">
    </div>
   <form action="{% url 'favorite-page' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="favorite_id" value={{detailPage.id}}> 

        <button type="submit"> Add to Favorite</button>
   </form>

{% endblock content %}