{% extends 'base.html' %}
{% load static %}

{% block title %}Your favorite images{% endblock title %}

{% block css %}{% static 'app/favorite.css' %}{% endblock css %}

{% block content %}    
    <section>

        <h2>Favorite images</h2> 
        {% for a in images %}
          {% if not has_images %}
            <p>you don't have any favorite images</p>
          {% endif %}
          <a href="{% url 'detail-page' a.pk  %}">
             <div class="card" >
                <img src="{{a.image.url}}" alt="wait..." style="">
                <div class="container">
                    <h4><b>{{a.description}}</b></h4> 
                    <p>{{a.tag}}</p> 
                </div>
            </div>
          </a>
           

            
        
        {% endfor %}


    </section>
    

{% endblock content %}