{% extends 'base.html' %}
{% load static %}

{% block title %}Photopot{% endblock title %}
{% block css %} {% static 'app/main.css' %}{% endblock css %}

{% block content %}

    <section>

        <div class="navbar">

            <div class="dropdown">
                <div class="dropbtn"><i class="fa fa-list-ul"></i> <i class="fa fa-caret-down"></i></div>

                <div class="dropdown-content">
                    <a href=" {% url 'upload-page' %}">Upload</a>
                    <a href="{% url 'favorite-page' %}">Favorite</a>
                </div>
            </div>
            <p href="#home">Photopot</a>
        </div>

    </section>


    <section>
        {% for a in mainPage %}
            <a href="{% url 'detail-page' a.pk %}">
                <div class="card">
                    <img src="{{a.image.url}}" alt="loading" style="">
                    <div class="container">
                        <h4><b>{{a.title}}</b></h4>
                        <p>#{{a.tag}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}

    </section>

    <section>
        <footer class="page-footer font-small bg-dark  ">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-white">© 2021 Copyright:
                <a href="#"> Photopot</a>
            </div>
            <!-- Copyright -->

        </footer>
    </section>


{% endblock content %}